.main-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.firstDivision{
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
}

.firstRectangle{
  width: 80%;
  height: 100%;
  background-color: #2ECC23;
}

.secondRectangle{
  width: 20%;
  height: 100%;
  background-color: #298089;
}

